@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;1,500&family=Montserrat:ital,wght@0,500;1,700&family=Open+Sans:wght@300&family=Outfit:wght@500&family=Poppins:wght@300;400;600&family=Raleway:wght@200;300&family=Red+Hat+Display:wght@400;500&family=Roboto:ital,wght@0,700;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'outfit', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

:root {
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Pink: hsl(322, 100%, 66%);

}

.container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

.main_nav {
    width: 100%;
    height: 520px;
    background-color: var(--Very-Pale-Cyan);
    overflow: hidden;
    flex-wrap: wrap;
}

.navbar {
    justify-content: space-between;
    padding: 20px 20px;

}

.navbar button {
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

.left {
    max-width: 45vw;
}

.left h1 {
    margin-right: 155px;
    line-height: 50px;
    margin-bottom: 25px;
}

.left p {
    margin-right: 125px;
    /* width: 80%; */
    line-height: 25px;
    margin-bottom: 25px;
}

.left button {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: var(--Pink);
    color: #fff;
    border: none;
    cursor: pointer;
}

.left button:hover {
    background-color: rgb(250, 172, 185);
}

.right img {
    width: 100%;

}

.grow-section {
    margin-top: 110px;
}

.container_section {
    border-radius: 10px;
    padding: 20px 60px;
    box-shadow: 2px;
    box-shadow: 5px 5px 5px 5px rgba(0.1, 0, 0, 0.1);


}

.text {
    max-width: 50vw;
    text-align: start;
    margin-left: 30px;
}

.text h1 {
    margin-bottom: 20px;

}

.text p {
    width: 73%;
    line-height: 25px;
}

.right_img img {
    width: 100%;
}

.small-container {
    position: absolute;
    width: 600px;
    height: 200px;
    box-shadow: 5px 5px 5px 5px rgba(0.1, 0, 0, 0.1);
    top: 380%;
    left: 30%;
    padding: 50px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;

}

.small-container button {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: var(--Pink);
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: 20px;

}

.footer {
    width: 100%;
    height: 390px;
    background-color: var(--Very-Dark-Cyan);
    margin-top: 250px;
}

.footer_section {
    padding: 60px;


}

.contact {
    padding: 10px 0px;
    max-width: 25vw;
    margin-right: 220px;



}

.location {
    margin-bottom: 10px;
    gap: 15px;
    align-items: center;
}

.location p {
    /* width: 36%; */
    font-size: 15px;
    color: var(--Very-Pale-Cyan);
}

.para {
    margin-top: 20px;
}

.link_left {
    margin-top: 40px;


}

.link_left img {
    filter: brightness(0) invert(1);
    width: 130px;

}

.about_section UL {
    list-style: none;
}

.about_section {
    margin-left: 50PX;
    align-items: center;
    width: 120px;

}

.about_section ul li {
    color: #fff;
    font-size: 15px;
    padding: 10px;


}

.facebook i {
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;

}
.facebook{
   padding: 20px;
   width: 400px;
   text-align: center;
}
.facebook ul {
    padding: 8px;
    list-style: none;
    gap: 10px;

}

.hover li i:hover {
    padding: 8px;
    border-radius: 50%;
    border: 1px solid var(--Pink);
    cursor: pointer;

}

.hover_link:hover {
    color: var(--Pink);
}

.social_links {
    justify-content: space-evenly;

}

footer {
    color: #fff;
    font-size: 1px;
    margin-top: 90px;
    text-align: center;

}